*.iml
.gradle
.artifacts
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties

/build
/domain/model/build
/domain/repository/build
/domain/sync/build
/domain/usecases/build
/data/local/build
/data/remote/build
/data/repository/build
/data/sync/build
/auth/apptoken/build
/auth/sso/build
/auth/webloginflowv2/build
/app/cli/build
/app/android/build
/app/javafx/build
/app/shared/build
