.root {
    -fx-base: rgba(0, 0, 0, 255);
    -fx-background: derive(-fx-base, 13.2%);
    -fx-control-inner-background: derive(-fx-base, 18.4%);
    -fx-selection-bar-non-focused: -fx-control-inner-background;
    -fx-mid-text-color: derive(-fx-base, 80%);
}

.label {
    -fx-text-fill: white;
}

.list-cell {
    -fx-background-color: derive(-fx-base, 13.2%);
}

.list-cell:filled:selected {
    -fx-background-color: transparent, -fx-cell-focus-inner-border, derive(-fx-base, 13.2%);
}
