.card {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10, 0, 0, 2);
    -fx-padding: 10;
}

.top {
    -fx-padding: 0 0 10 0;
}

.bottom {
    -fx-padding: 10 0 0 0;
}